Repository CasperLabs/CasperLabs, pull requests merged in 2020-02, with the labels that each got.

#1553 CON-621: Validate and execute block
  casper/src/main/scala/io/casperlabs/casper/BlockStatus.scala
  casper/src/main/scala/io/casperlabs/casper/Casper.scala
  casper/src/main/scala/io/casperlabs/casper/MultiParentCasperImpl.scala
  casper/src/main/scala/io/casperlabs/casper/highway/EraRuntime.scala
  casper/src/main/scala/io/casperlabs/casper/highway/EraSupervisor.scala
  casper/src/main/scala/io/casperlabs/casper/highway/MessageExecutor.scala
  casper/src/main/scala/io/casperlabs/casper/highway/package.scala
  casper/src/main/scala/io/casperlabs/casper/util/execengine/ExecEngineUtil.scala
  casper/src/main/scala/io/casperlabs/casper/validation/Validation.scala
  casper/src/main/scala/io/casperlabs/casper/validation/ValidationImpl.scala
  casper/src/test/scala/io/casperlabs/casper/highway/EraRuntimeSpec.scala
  casper/src/test/scala/io/casperlabs/casper/highway/HighwayFixture.scala
  casper/src/test/scala/io/casperlabs/casper/highway/MessageExecutorSpec.scala
  casper/src/test/scala/io/casperlabs/casper/highway/MessageProducerSpec.scala
  casper/src/test/scala/io/casperlabs/casper/mocks/MockEventEmitter.scala
  casper/src/test/scala/io/casperlabs/casper/mocks/NoOpValidation.scala
  casper/src/test/scala/io/casperlabs/casper/util/execengine/ExecutionEngineServiceStub.scala
  models/src/test/scala/io/casperlabs/models/ArbitraryConsensus.scala
  shared/src/main/scala/io/casperlabs/shared/SemaphoreMap.scala
Labels: Highway

#1568 CON-617: Highway config
  casper/src/main/scala/io/casperlabs/casper/highway/HighwayConf.scala
  integration-testing/resources/etc_casperlabs/chainspec/genesis/manifest.toml
  integration-testing/resources/test-chainspec-minor/genesis/manifest.toml
  integration-testing/resources/test-chainspec/genesis/manifest.toml
  node/src/main/resources/chainspec/genesis/manifest.toml
  node/src/main/resources/default-configuration.toml
  node/src/main/scala/io/casperlabs/node/configuration/ChainSpec.scala
  node/src/main/scala/io/casperlabs/node/configuration/Configuration.scala
  node/src/main/scala/io/casperlabs/node/configuration/Parser.scala
  node/src/test/resources/default-configuration.toml
  node/src/test/resources/test-chainspec/genesis/manifest.toml
  node/src/test/scala/io/casperlabs/node/configuration/ArbitraryImplicits.scala
  node/src/test/scala/io/casperlabs/node/configuration/ConfigurationSpec.scala
  protobuf/io/casperlabs/ipc/ipc.proto
Labels: Highway

#1574 CON-616: Extract consensus from gossiping
  casper/src/main/scala/io/casperlabs/casper/api/BlockAPI.scala
  node/src/main/scala/io/casperlabs/node/NodeRuntime.scala
  node/src/main/scala/io/casperlabs/node/casper/consensus.scala
  node/src/main/scala/io/casperlabs/node/casper/gossiping.scala
  node/src/main/scala/io/casperlabs/node/configuration/Options.scala
Labels: Highway

#1576 CON-616: Highway feature flag
  comm/src/test/scala/io/casperlabs/comm/discovery/NodeDiscoverySpec.scala
  comm/src/test/scala/io/casperlabs/comm/gossiping/DownloadManagerSpec.scala
  node/src/main/resources/default-configuration.toml
  node/src/main/scala/io/casperlabs/node/NodeRuntime.scala
  node/src/main/scala/io/casperlabs/node/casper/consensus.scala
  node/src/main/scala/io/casperlabs/node/casper/gossiping.scala
  node/src/main/scala/io/casperlabs/node/configuration/Configuration.scala
  node/src/main/scala/io/casperlabs/node/configuration/Options.scala
  node/src/test/resources/default-configuration.toml
  node/src/test/scala/io/casperlabs/node/configuration/ConfigurationSpec.scala
Labels: Highway

#1591 CON-616: Initial synchronization start rank
  node/src/main/scala/io/casperlabs/node/casper/consensus.scala
  node/src/main/scala/io/casperlabs/node/casper/gossiping.scala
Labels: Highway

#1592 CON-622: Implement Highway forkchoice
  casper/src/main/scala/io/casperlabs/casper/Estimator.scala
  casper/src/main/scala/io/casperlabs/casper/equivocations/EquivocationDetector.scala
  casper/src/main/scala/io/casperlabs/casper/highway/ForkChoice.scala
  casper/src/main/scala/io/casperlabs/casper/highway/MessageProducer.scala
  casper/src/main/scala/io/casperlabs/casper/util/DagOperations.scala
  casper/src/main/scala/io/casperlabs/casper/util/EraObservedBehavior.scala
  casper/src/main/scala/io/casperlabs/casper/util/ObservedValidatorBehavior.scala
  casper/src/main/scala/io/casperlabs/casper/util/ProtoUtil.scala
  casper/src/test/scala/io/casperlabs/casper/helper/BlockGenerator.scala
  casper/src/test/scala/io/casperlabs/casper/highway/ForkChoiceTest.scala
  casper/src/test/scala/io/casperlabs/casper/highway/HighwayFixture.scala
  casper/src/test/scala/io/casperlabs/casper/highway/MessageExecutorSpec.scala
  casper/src/test/scala/io/casperlabs/casper/highway/MessageProducerSpec.scala
  casper/src/test/scala/io/casperlabs/casper/highway/ScoresSpec.scala
  casper/src/test/scala/io/casperlabs/casper/highway/mocks/MockBlockDagStorage.scala
  casper/src/test/scala/io/casperlabs/casper/util/DagOperationsTest.scala
  models/src/main/scala/io/casperlabs/models/Message.scala
  storage/src/main/scala/io/casperlabs/storage/dag/DagStorage.scala
Labels: Highway

#1640 NODE-1212: hack/docker highway
  casper/src/main/scala/io/casperlabs/casper/highway/EraRuntime.scala
  casper/src/main/scala/io/casperlabs/casper/validation/Validation.scala
  casper/src/main/scala/io/casperlabs/casper/validation/ValidationImpl.scala
  hack/docker/Makefile
  hack/docker/README.md
  hack/docker/scripts/highway-env.sh
  hack/docker/template/.env
  hack/docker/template/docker-compose.yml
  hack/docker/template/start-node.sh
  node/src/main/scala/io/casperlabs/node/NodeRuntime.scala
  node/src/main/scala/io/casperlabs/node/api/GrpcCasperService.scala
  node/src/main/scala/io/casperlabs/node/api/Servers.scala
  node/src/main/scala/io/casperlabs/node/casper/consensus.scala
  node/src/main/scala/io/casperlabs/node/configuration/ConfParser.scala
  node/src/main/scala/io/casperlabs/node/configuration/Configuration.scala
  node/src/main/scala/io/casperlabs/node/configuration/Options.scala
Labels: Highway, WIP

#1647 EE-838: AssemblyScript npm package README.md
  execution-engine/contract-as/README.md
Labels: docs
